{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "target": {
          "node": "current"
        }
      }
    ],
    "flow"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
