{
  "presets": [
    ["env", {
      "modules": false,
      "target": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
